/**
    Title: global.css
    Author: Jocelyn Dupuis
    Date: 3/15/2023
    Description: Some assignments may be reusing these styles
*/

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

/**
Styling for card 
*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/**
Styling for card title
*/
.card-title {
  text-align: center;
  font-size: 2em;
  color: #4F3674;
  font-weight: 400;
  padding: 5-px;
}

/**
Styling for card content
*/
.card-content {
  padding: 2px 16px;
}

/**
Styling for hover tag
*/
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/**
Styling for button element
*/
.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  color: black;
}

/**
Styling for primary button
*/
.btn-primary {
  background-color: #4F3674;
  color: white;
}

/**
Stying for primary botton hover 
*/
.btn-primary:hover {
  background-color: #D6A800;
  color:#4F3674;
}

/**
Styling for main input
*/
.input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/**
Styling to extend the entire width
*/
.full-width {
  width: 100%;
}

/**
Styling for the form
*/
.form {
  display: inline-grid;
  grid-template-columns: auto;
}

/**
Styling for the form fields
*/
.form-field {
  padding: 20px;
}

/**
Styling for anchor/return button
*/
.return-home {
  color: #4F3674;
  text-decoration: none;
}

/**
Styling for anchor/return button hover
*/
.return-home:hover {
  background-color: #D6A800;
  color: #4F3674
}

/**
Styling for anchor/return button visited
*/
.return-home:visited {
  color: #3C275A
}

.app-header {
  text-align: center;
  font-weight: 400;
}

/**
Styling for drop down menu
*/
.drop-down-menu {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

